* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  padding: 20px;
}

.logo {
  color: #fff;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
  margin-right: 40px;
}

.link {
  text-decoration: none;
  color: aliceblue;

}